@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* centralização da página */

.container-grid {
    width: 100%;
    max-width: 1000px;
    /*limite máximo de largura*/
    min-width: 992px;
    /*limite mínimo de largura*/
    margin: 0 auto;
    /*margem alterais automática - centraliza o elemento*/
    /* background-color: rgb(0, 0, 0); */
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: grey;
}


/* HEADER */

header {
    background-color: rgb(0, 0, 0);
}

header h1 {
    color: white;
    font-weight: 300;
    /* border: 2px solid white */
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header nav {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: ; */
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}


/* MAIN */

main .coluna-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

main .coluna1 {
    width: 75%;
    background-color: white;
}

main .coluna2 {
    width: 20%;
    /* background-color: rgb(245, 188, 66); */
}

main .coluna1 #imagem {
    width: 100%;
}


/* margem dos paragrafos */

main section .título {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* section com class */

main .coluna1 p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}


/* aside com class */

main .coluna2 article {
    background-color: white;
    margin-bottom: 10px;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
    /* padding: 0px ; top right bottom left 
    padding: 0px 0px; top/bottom left/right 
    padding: 0px 0px 0px ; top left/right bottom
    padding: 0px 0px 0px 0px; top right bottom left  */
}